@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Zion University</h1>
</div>
<div class="row">
    
        <h2>Welcome to Zion University</h2>
        <img class="indexImage" src="~/images/university.jpg" alt="University Image" />
   
</div>
